{% extends 'layout.twig' %}

{% block doc_content %}
  <h3>First Page</h3>

  <p>Suspendisse nec adipiscing nunc. Praesent ipsum urna, vulputate sed mattis a, convallis aliquet sem. Phasellus id feugiat turpis. Morbi vulputate pulvinar lacus ac ultrices. Aliquam vel augue augue, sit amet vestibulum arcu. Aliquam erat volutpat. Sed vel gravida diam. In porta suscipit convallis. Morbi ut magna nibh, ac viverra eros. Morbi viverra ligula sed nulla ornare ut ullamcorper nisi pretium.</p>
{% endblock %}
