{% extends '../../../views/layout.twig' %}

{% block content %}
  <div class="container-narrow">
    <h3>Docs &amp; FAQ</h3>

    <p>Mauris ornare molestie lacinia. Cras tincidunt fermentum mauris at consequat. Quisque sit amet lacus in dolor dignissim tempor. Praesent accumsan cursus ligula eget porttitor. Vivamus sit amet tellus libero, eu vulputate felis. Proin at augue erat, at aliquam augue. Mauris leo purus, tincidunt eu tincidunt sit amet, varius sit amet neque. Cras commodo justo sed arcu adipiscing euismod. Nam pretium enim sit amet tortor suscipit ornare a eget turpis.</p>

    <h4>Sub Pages</h4>
    <ul>
        <li><a href="first">First</a></li>
        <li><a href="second">Second</a></li>
    </ul>
  </div>
{% endblock %}
