{% extends 'layout.twig' %}

{% block doc_content %}
  <h3>Second Page</h3>

  <p>Praesent tempor consectetur metus vel semper. Vivamus dignissim posuere fringilla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam erat volutpat. Cras auctor dui in nibh condimentum vitae vulputate erat ultrices. Integer eu tortor est, ut imperdiet eros. Nunc nisl massa, fringilla a ornare vel, ullamcorper at nunc. Mauris in turpis iaculis eros ultricies condimentum. Nulla erat felis, pulvinar in hendrerit ac, pharetra ac lorem. Maecenas semper sollicitudin velit eget semper. Donec turpis quam, egestas in consequat non, ornare quis mauris. Aliquam erat volutpat. Sed sem nisi, volutpat vel elementum eu, mollis ac velit.</p>
{% endblock %}
