<header>
  <div class="container-narrow">
    <div class="github-fork-ribbon-wrapper right">
      <div class="github-fork-ribbon">
          <a href="https://github.com/ericclemmons/genesis-skeleton">Fork me on GitHub</a>
      </div>
    </div>

    <div class="masthead">
      <ul class="nav nav-pills pull-right">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="{{ $lolget-started">Get Started</a></li>
        <li><a href="technology">Technology</a></li>
      </ul>

      <h3 class="muted">Genesis Skeleton</h3>
    </div>

    <div class="jumbotron">
      <h1>Zero to Live in <em>minutes</em>.</h1>
    </div>
  </div>
</header>

<section id="about">
  <div class="container-narrow" ng-include="'views/about.html'"></div>
</section>

<section id="get-started">
  <div class="container-narrow" ng-include="'views/get-started.html'"></div>
</section>

<section id="technology">
  <div class="container-narrow" ng-include="'views/technology.html'"></div>
</section>

<footer>
  <div class="container-narrow">
    <p>
      &copy; 2013 Genesis Skeleton
    </p>
  </div>
</footer>
