<h3>Frequently Asked Questions</h3>

<h4>Why not <a href="http://yeoman.io/">Yeoman</a> (or another generator)?</h4>

<p>
  Yeoman is a fantastic generator project.

  This project is, however, *not* a generator.

  Genesis Skeleton is an opinionated starter application meant for you to fork,
  modify, and start each project with a well-organized and flexible foundation.
</p>

<h4>Why <a href="http://angularjs.org/">AngularJS</a> (and not another framework)?</h4>

<p>
  For robust applications with a lot of moving parts,
  AngularJS has shown to support both rapid prototypes and complex applications requiring well-structured architecture.
</p>

<p>
  Don't fret, though!

  You're only a simple <code>bower install</code> away from having your favorite framework.
</p>

<h4>I have a problem!  What do I do?</h4>

<p>
  Create an <a href="https://github.com/ericclemmons/genesis-skeleton/issues">issue</a> on Github
  or contact <a href="https://twitter.com/ericclemmons">@ericclemmons</a> on Twitter.
</p>
