<h3>Features</h3>

<div class="row-fluid">
  <div class="span6">
    <h4><i class="icon-folder-open" />&nbsp;Structured</h4>
    <p>
      Based on both client &amp; server-side convention, every part of your application has a place, no matter how big it gets.
    </p>
  </div>
  <div class="span6">
    <h4><i class="icon-refresh" />&nbsp;Automated build process</h4>
    <p>
      Leveraging Grunt, everything from linting your scripts to pre-processing your CSS and images is done for you.
    </p>
  </div>
</div>

<div class="row-fluid">
  <div class="span6">
    <h4><i class="icon-eye-open" />&nbsp;WYSIWYG</h4>
    <p>
      Simply run <code>grunt server</code> and watch your changes instantly via <a href="http://livereload.com/">LiveReload</a>.
    </p>
  </div>
  <div class="span6">
    <h4><i class="icon-filter" />Optimized for Angular</h4>
    <p>
      Angular templates are automatically pre-loaded so your app loads instantly without any unecessary requests.
    </p>
  </div>
</div>

<div class="row-fluid">
  <div class="span6">
    <h4><i class="icon-tasks" />&nbsp;Optimized</h4>
    <p>
      From CSS pre-processing to image optimization, everything is ready for production with a simple <code>grunt build</code>.
    </p>
  </div>
  <div class="span6">
    <h4><i class="icon-globe" />&nbsp;Heroku-ready</h4>
    <p>
      You're only a <code>git push heroku master</code> away from showing off your latest project.
    </p>
  </div>
</div>

<p class="muted center">
  <small>Learn more about these features in the <a href="/guide">guide</a>.</small>
</p>

