<section id="about">
  <div class="container-narrow" ng-include="'views/home/about.html'" autoscroll></div>
</section>

<section id="get-started">
  <div class="container-narrow" ng-include="'views/home/get-started.html'" autoscroll></div>
</section>

<section id="features">
  <div class="container-narrow" ng-include="'views/home/features.html'" autoscroll></div>
</section>

<section id="technology">
  <div class="container-narrow" ng-include="'views/home/technology.html'" autoscroll></div>
</section>

<section id="faq">
  <div class="container-narrow" ng-include="'views/home/faq.html'" autoscroll></div>
</section>
