<h3>Get Started in <em>5 Easy Steps</em></h3>

<ol>
  <li>
    <a href="https://github.com/ericclemmons/genesis-skeleton/archive/master.zip" class="btn btn-small"><strong>Download</strong></a>
    or
    <code>git clone git://github.com/ericclemmons/genesis-skeleton.git</code>
  </li>
  <li>
    <strong>Install</strong> dependencies: <code>npm install</code>
  </li>
  <li>
    <strong>Preview</strong> your changes <em>live</em>: <code>grunt server</code>
  </li>
  <li>
    <strong>Create</strong> a Heroku server: <code>heroku create</code>
  </li>
  <li>
    <strong>Launch</strong> your app! <code>git push heroku master</code>
  </li>
</ol>

<p>
  <strong class="label label-info"><i class="icon-white icon-info-sign" />&nbsp;Want to learn more?</strong>

  Check out the <a href="/guide">guide</a>!
</p>