<h3>Get Started in <em>5 Easy Steps</em></h3>

<div class="row-fluid">
  <div class="span6">

    <ol>
      <li>
        <a href="https://github.com/ericclemmons/genesis-skeleton/archive/master.zip" class="btn btn-small"><strong>Download</strong></a>
        or
        <a href="https://github.com/ericclemmons/genesis-skeleton"><code>git clone</code></a>
      </li>
      <li>
        <strong>Install</strong> dependencies: <code>npm install</code>
      </li>
      <li>
        <strong>Preview</strong> your changes <em>live</em>: <code>grunt server</code>
      </li>
      <li>
        <strong>Create</strong> a Heroku server: <code>heroku create</code>
      </li>
      <li>
        <strong>Launch</strong> your app! <code>git push heroku master</code>
      </li>
    </ol>

  </div>
  <div class="span6">

    <aside class="alert info">
      <small>
        You should already have <a href="http://nodejs.org/">NodeJS</a> installed,
        as well as <a href="http://gruntjs.com/">Grunt</a> and <a href="http://twitter.github.com/bower/">Bower</a>
        <strong>globally</strong>:
      </small>

      <pre><code>npm install -g grunt-cli bower</code></pre>
    </aside>

  </div>
</div>

<p>
  <strong class="label label-info"><i class="icon-white icon-info-sign" />&nbsp;Want to learn more?</strong>

  Check out the <a href="/guide">guide</a>!
</p>