<h3>Technology</h3>

<div class="row-fluid">
  <div class="span2">
    <h4 class="muted pull-right">Front End</h4>
  </div>
  <div class="span10">
    <div class="row-fluid">
      <div class="span4">
        <h4><a href="http://html5boilerplate.com/">HTML5 Boilerplate</a></h4>
        <p>
          Lean, mobile-friendly HTML template with Google Analytics,
          <a href="http://modernizr.com/" title="Modernizr">Modernizr</a>
          and <a href="https://github.com/scottjehl/Respond" title="Respond.js">Respond.js</a>
        </p>
      </div>
      <div class="span4">
        <h4><a href="http://twitter.github.com/bootstrap/">Bootstrap</a></h4>
        <p>Use as much or as little as you'd like to kickstart your app's design.</p>
      </div>
      <div class="span4">
        <h4><a href="http://angularjs.org/">AngularJS</a></h4>
        <p>Enhance HTML with data-binding, new functionality, and a service-oriented MVC architecture.</p>
      </div>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span2">
    <h4 class="muted pull-right">Back End</h4>
  </div>
  <div class="span10">
    <div class="row-fluid">
      <div class="span4">
        <h4><a href="http://expressjs.com/">Express</a></h4>
        <p>Powered by the de-facto node application framework with a sensible folder structure.</p>
      </div>
      <div class="span4">
        <h4><a href="https://toolbelt.heroku.com/">Heroku</a></h4>
        <p>See your app live in minutes with a simple <code>git push</code>.</p>
      </div>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span2">
    <h4 class="muted pull-right">Tools</h4>
  </div>
  <div class="span10">
    <div class="row-fluid">
      <div class="span4">
        <h4><a href="http://gruntjs.com/">Grunt</a></h4>
        <p>Serve, watch, reload, &amp; compile your app's resources by running <code>grunt server</code>.</p>
      </div>
      <div class="span4">
        <h4><a href="http://twitter.github.com/bower/">Bower</a></h4>
        <p>Simplify management of browser dependencies.  Compiled &amp; minified.</p>
      </div>
      <div class="span4">
        <h4><a href="http://livereload.com/">LiveReload</a></h4>
        <p>Your changes are refreshed in the browser with each save. No extension required.</p>
      </div>
    </div>
  </div>
</div>

<p class="muted center">
  <small>How to use &amp; modify these are available in the <a href="/guide">guide</a>.</small>
</p>
