{% extends 'layout.twig' %}

{% block content %}
  <div ng-view></div>
{% endblock %}

{% block scripts %}
  <!-- CDNs preferred -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular-resource.min.js"></script>
  <script src="//mgcrea.github.com/angular-strap/js/angular-strap.js"></script>
  <script>window.angular || document.write('<script src={{ "build/js/lib/angular.min.js" | unminify }}?v={{ package.version }}><\/script>')</script>

  <!-- App -->
  <script src="{{ "build/js/app.min.js" | unminify }}?v={{ package.version }}"></script>
  <script>
    angular.bootstrap(document.body, ['app']);
  </script>
{% endblock%}
