{% extends 'layout.twig' %}

{% block content %}
  <div ng-view></div>
{% endblock %}

{% block scripts %}
  <!-- Angular, CDN preferred -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular-resource.min.js"></script>
  <script>window.angular || document.write('<script src="build/js/lib/angular.min.js"><\/script>')</script>

  <!-- App -->
  <script src="build/js/app{% if ('production' == settings.env) %}.min{% endif %}.js?v={{ package.version }}"></script>
  <script>
    angular.bootstrap(document.body, ['app']);
  </script>
{% endblock%}
