<h4>Git</h4>

<p>
  <small>If you intend to constantly stay up-to-date with this project, then this method may be best.</small>
</p>

<p>
  Rather than using <code>git clone</code>, it is recommended to create a project
  on Github, follow their instructions, and already have a repository created &amp;
  cloned.

</p>

<pre class="pre-scrollable">
$ cd ~/Sites/my-project
<br>
$ git remote add genesis git://github.com/ericclemmons/genesis-skeleton.git
<br>
$ git fetch && git merge genesis/master
</pre>
