<div class="navbar navbar-fixed-top" bs-navbar>
  <div class="navbar-inner">
    <div class="container-narrow">

      <ul class="nav">
        <li data-match-route="/home"><a href="#/home"><h1>Genesis Skeleton</h1></a></li>
        <li data-match-route="/guide"><a href="#/guide">Guide</a></li>
        <li><a app-issues href="https://github.com/ericclemmons/genesis-skeleton/issues" class="hidden-phone">Issues</a></li>
        <li><a href="https://github.com/ericclemmons/genesis-skeleton/">Source</a></li>
      </ul>

      <div class="btn-toolbar btn-group pull-right hidden-phone">
        <a class="btn btn-small travis-btn" href="//travis-ci.org/#!/ericclemmons/genesis-skeleton" target="_blank">
          <img src="https://api.travis-ci.org/ericclemmons/genesis-skeleton.png?branch=master" />
        </a>

        <a class="btn btn-small btn-info" href="https://github.com/ericclemmons/genesis-skeleton/archive/master.zip"><i class="icon-download-alt icon-white"></i>&nbsp;Download</a>
      </div>

    </div>
  </div>
</div>
